<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>密室逃脱demo</title>
    <!--jquery引入 -->
    <script src="/static/jquery-3.2.1.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/static/bootstrap/js/bootstrap.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container-fluid">
    <h2>密室逃脱demo</h2>
    <hr />
    <h2>LED
<!--     {switch name="led_status"}
    {case value="1"}打开{/case}
    {case value="0"}关闭{/case}
    {default /}出错
    {/switch} -->
    </h2>
    <a href="/index/index/switch_led" class="btn btn-primary btn-lg btn-block" role="button">
<!--         {switch name="led_status"}
        {case value="1"}关闭LED{/case}
        {case value="0"}打开LED{/case}
        {/switch} -->
    </a>
    <a href="/index/index/logout" class="btn btn-success btn-lg btn-block" role="button">登出</a>
</div>
</body>
</html>